@model MyModel<ProjectMenager.Models.Task, List<Notes>>
@using Microsoft.AspNetCore.Html;
@using NonFactors.Mvc.Grid;
@{
    ViewData["Title"] = "Details";
    @if (User.IsInRole("Employee"))
    {
        Layout = "~/Views/Shared/_Layout_Employee.cshtml";
    }
    @if (User.IsInRole("ProjectManager"))
    {
        Layout = "~/Views/Shared/_Layout_Project.cshtml";
    }
    @if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    }
}
<link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet" />
<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obj1.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obj1.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obj1.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obj1.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obj1.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obj1.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obj1.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obj1.Item.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obj1.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obj1.Employee.Id)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator") || User.IsInRole("ProjectManager"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Obj1?.Id">Edit</a>
        <a asp-action = "Index" > Back to List</a>
    }
</div>

<div>
    <hr />
    <h4>Notes:</h4>
    <a asp-controller="Notes" asp-action="Create" asp-route-id="@Model.Obj1?.Id">Add New</a>
    @if (Model.Obj2 != null)
    {
        @(
            Html
            .Grid(Model.Obj2)
            .Build(c =>
            {
                c.Add(Model => Model.Note).Titled("Note");
                c.Add(Model => Model.Date).Titled("Date");
            }
            ).Filterable()
            .Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<int, string> { { 0, "all" } };
                pager.PagesToDisplay = 3;
                pager.RowsPerPage = 5;
            })
            .Sortable()
            )
    }
    else
    {
        <p>---</p>
    }
</div>